<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>st_switcher</title>
    <script type="module" src="./streamlit-component-lib.js"></script>
    <script type="module" src="./main.js"></script>
    <!-- <link rel="stylesheet" href="./style.css" /> -->
  </head>
  <body>
    
    <div class="centerer">
    
  
      <div class="switcher">
        <input type="radio" name="balance" value="yin" id="yin" class="switcher__input switcher__input--yin" checked="">
        <label for="yin" class="switcher__label" >App</label>
        
        <input type="radio" name="balance" value="yang" id="yang" class="switcher__input switcher__input--yang">
        <label for="yang" class="switcher__label" >About</label>
        
        <span class="switcher__toggle"></span>
      </div>
  
  
  </div>
    
  </body>

</html>