# Fedot
fedot>=0.7.3.2

# Data things.
# If you don't have some data, I don't know what you are doing here.
arff>=0.9
pandas~=1.5.3
scipy~=1.12.0

# Pandas optional dependencies.
tabulate>=0.8.9

# Supported llms things
# Transformers (not film series)
torch>=2.4.0
transformers>=4.43.3

# Bugs hunting things
pytest~=8.3.2
typing~=3.7.4.3

# HTTP requests things. You need this even if you use only local llms. Trust me.
requests~=2.32.3
tenacity~=8.5.0

# LangChain. Bugs love this place. Pls keep the latest versions. (even if it released yesterday)
langchain>=0.2.12
langchain-community>=0.2.11